{% load static %}
<!DOCTYPE html>
<html>
<title>EH </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {

  background: url({% static 'app1/banner1.jpg' %})  50% 50%;   background-size:cover;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo"><br>
    <p style="font-size:35px;">Process Completed Successfully </p>
    <br>
    <h4>You can find your file in this cloud_CDN link</h4>
     <p style="font-size:35px;"><a style="color:blue;" href=" {{loc}}">{{loc}}</a> </p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><a href="login" class="w3-button w3-black">Logout</button></p>
    <p><a href="uploadfile" class="w3-button w3-black"><-------Upload Another File</button></p>
    </div>
  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge"></p>
    <p class="w3-large"></p>
    </div>
</div>

<!-- Menu Modal -->
<div id="menu" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black w3-display-container">
      <span onclick="document.getElementById('menu').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>University Auth</h1>
    </div>
    <div class="w3-container">
      <div class="container">
  <p>Forgot Password? <a href="forgotpass">Click Here</a>.</p>
  <p>Don't have an account? <a href="register">Sign up as University Auth</a>.</p>
  </div>
    </div>

    <div class="w3-container">

      <h5><b></b></h5>
    </div>


    </div>
  </div>
</div>

<!-- Contact Modal -->
<div id="contact" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>Contact</h1>
    </div>
    <div class="w3-container">

      <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
  <center><h1><em>University Auth Login Form</em></h1></center>
           <label for="uname"><b>Employee ID</b></label>
    <input  class="w3-input w3-padding-16 w3-border"  type="text" placeholder="Enter ID" name="username" required>
<label for="psw"><b>Password</b></label>
    <input class="w3-input w3-padding-16 w3-border" type="password" placeholder="Enter Password" name="password" required>

    <br>
    <button type="submit">Login</button>
    <marquee><h3>{{message}}</h3></marquee>
  </div>

      </form>
    </div>
  </div>
</div>

</body>
</html>









