

 {% load static %}
<!DOCTYPE html>
<html>
<title>EH </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {

  background: url({% static 'app1/banner1.jpg' %})  50% 50%;   background-size:cover;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <p style="font-size:35px;">Edge Computing analysis on university Cloud computing using Cryptographic Algorithms</p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
      <p><a href="home" >Menu</a></button></p>
    <p><button onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-black">View Requests</button></p>
  </div>
  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge"></p>
    <p class="w3-large"></p>
    </div>
</div>

<!-- Menu Modal -->

      <h5><b></b></h5>
    </div>


    </div>
  </div>
</div>

<!-- Contact Modal -->
<div id="contact" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>View</h1>
    </div>
    <div class="w3-container">


     <h3>Request From user </h3>
{% for newsletter in reqkey %}
<form action="{% url 'viewreq' %}" method="post">
    {% csrf_token %}
<h4><input class="w3-input w3-padding-16 w3-border" name="filename"  value="{{newsletter.filename}}"  required ></h4>
    <input class="w3-input w3-padding-16 w3-border" name="college"  value="{{newsletter.userid}}"  required></h4>
<input type="submit">
</form>
 {% endfor %}

    <marquee><h3>{{message}}</h3></marquee>
  </div>

      </form>
    </div>
  </div>
</div>

</body>
</html>













