
{% load static %}
<!DOCTYPE html>
<html>
<title>EH </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {

  background: url({% static 'app1/banner1.jpg' %})  50% 50%;   background-size:cover;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-text-white">
  <div class="w3-display-middle w3-jumbo">
    <p style="font-size:35px;">Accsess Successfully Given</p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
      <p><a href="home" >Menu</a></p>
    <p><button onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-black">Login</button></p>
  </div>
  <div class="w3-display-bottomleft w3-container">
    <p class="w3-xlarge"></p>
    <p class="w3-large"></p>
    </div>
</div>

<!-- Menu Modal -->

    </div>
  </div>
</div>

</body>
</html>



























